.front-animation {
    width: 100%;
    height: 100%;
    display: flex;
}


.item {
    position: absolute;

    /* top: 50%; */
}


.item1 {
    left: 60%;
    top: 80%;
    width: 8rem;
    height: 8rem;
    
    transform: rotate(-180deg);
    animation: floating1 6s ease-in-out infinite;
    /* animation: throw1 1s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
}

.item2 {

    left: 55%;
    top: 57%;
    width: 9rem;
    height: 9rem;
    transform: rotate(100deg);
    animation: floating2 6s ease-in-out infinite;
    /* animation: throw2 1s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
}

.item3 {
    left: 5%;
    top: 73%;
    width: 12rem;
    height: 12rem;
    transform: rotate(100deg);
    animation: floating3 6s ease-in-out infinite;
    /* animation: throw3 1s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
}

.item4 {
    left: 15%;
    top: 60%;
    width: 9rem;
    height: 9rem;
    transform: rotate(-50deg);
    animation: floating4 6s ease-in-out infinite;
    /* animation: throw4 1s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
}

.item5 {
    left: 44%;
    top: 81%;
    transform: rotate(15deg);
    /* animation: throw5 1s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
}

@keyframes floating1 {
    0% {
        transform: translate(0, 0px) rotate(-20deg);
    }

    50% {
        transform: translate(0, 15px) rotate(-25deg);
    }

    100% {
        transform: translate(0, -0px) rotate(-20deg);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(0, 0px) rotate(-20deg);
    }

    50% {
        transform: translate(0, 15px) rotate(-15deg);
    }

    100% {
        transform: translate(0, -0px) rotate(-20deg);
    }
}

@keyframes floating3 {
    0% {
        transform: translate(0, 0px) rotate(5deg);
    }

    50% {
        transform: translate(0, 15px) rotate(0deg);
    }

    100% {
        transform: translate(0, -0px) rotate(5deg);
    }
}

@keyframes floating4 {
    0% {
        transform: translate(0, 0px) rotate(10deg);
    }

    50% {
        transform: translate(0, 15px) rotate(15deg);
    }

    100% {
        transform: translate(0, -0px) rotate(10deg);
    }
}

@keyframes floating5 {
    0% {
        transform: translate(0, 0px) rotate(15deg);
    }

    50% {
        transform: translate(0, 15px) rotate(10deg);
    }

    100% {
        transform: translate(0, -0px) rotate(15deg);
    }
}

@keyframes throw1 {
    0% {
        top: 90%;
        transform: rotate(-180deg);
    }

    100% {
        left: 70%;
        top: 60%;
        transform: rotate(-20deg);
    }
}

@keyframes throw2 {
    0% {
        top: 90%;
        transform: rotate(-180deg);
    }

    100% {
        left: 85%;
        top: 75%;
        transform: rotate(-20deg);
    }
}

@keyframes throw3 {
    0% {
        top: 90%;
        transform: rotate(-180deg);
    }

    100% {
        left: 0%;
        top: 73%;
        transform: rotate(5deg);
    }
}

@keyframes throw4 {
    0% {
        top: 90%;
        transform: rotate(180deg);
    }

    100% {
        left: 23%;
        top: 62%;
        transform: rotate(10deg);
    }
}

@keyframes throw5 {
    0% {
        top: 90%;
        transform: rotate(-180deg);
    }

    100% {
        left: 44%;
        top: 81%;
        transform: rotate(15deg);
    }
}

@media only screen and (min-width: 768px) {
    .front-animation {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .item {
        position: absolute;
        top: 83%;
    }

    .item1 {
        left: 0%;
        top: 22%;
        width: 17rem;
        height: 17rem;
        transform: rotate(-180deg);
        /* animation: throw1 2s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
    }

    .item2 {
        left: 17%;
        top: 4%;
        width: 25rem;
        height: 25rem;
        transform: rotate(100deg);
        /* animation: throw2 2s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
    }

    .item3 {
        left: 12%;
        top: 45%;
        width: 27rem;
        height: 27rem;
        transform: rotate(100deg);
        /* animation: throw3 2s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
    }

    .item4 {
        left: 35%;
        top: 35%;
        width: 22rem;
        height: 22rem;
        transform: rotate(-50deg);
        /* animation: throw4 2s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
    }

    .item5 {
        left: 44%;
        top: 19%;
        transform: rotate(15deg);
        /* animation: throw5 2s cubic-bezier(0, 0, 0.28, 0.94) forwards; */
    }

    @keyframes floating1 {
        0% {
            transform: translate(0, 0px) rotate(-20deg);
        }

        50% {
            transform: translate(0, 15px) rotate(-25deg);
        }

        100% {
            transform: translate(0, -0px) rotate(-20deg);
        }
    }

    @keyframes floating2 {
        0% {
            transform: translate(0, 0px) rotate(-20deg);
        }

        50% {
            transform: translate(0, 15px) rotate(-15deg);
        }

        100% {
            transform: translate(0, -0px) rotate(-20deg);
        }
    }

    @keyframes floating3 {
        0% {
            transform: translate(0, 0px) rotate(5deg);
        }

        50% {
            transform: translate(0, 15px) rotate(0deg);
        }

        100% {
            transform: translate(0, -0px) rotate(5deg);
        }
    }

    @keyframes floating4 {
        0% {
            transform: translate(0, 0px) rotate(10deg);
        }

        50% {
            transform: translate(0, 15px) rotate(15deg);
        }

        100% {
            transform: translate(0, -0px) rotate(10deg);
        }
    }

    @keyframes floating5 {
        0% {
            transform: translate(0, 0px) rotate(15deg);
        }

        50% {
            transform: translate(0, 15px) rotate(10deg);
        }

        100% {
            transform: translate(0, -0px) rotate(15deg);
        }
    }

    @keyframes throw1 {
        0% {
            top: 83%;
            transform: rotate(-180deg);
        }

        100% {
            left: 0%;
            top: 25%;
            transform: rotate(-20deg);
        }
    }

    @keyframes throw2 {
        0% {
            top: 83%;
            transform: rotate(-180deg);
        }

        100% {
            left: 17%;
            top: 10%;
            transform: rotate(-20deg);
        }
    }

    @keyframes throw3 {
        0% {
            top: 83%;
            transform: rotate(-180deg);
        }

        100% {
            left: 12%;
            top: 51%;
            transform: rotate(5deg);
        }
    }

    @keyframes throw4 {
        0% {
            top: 83%;
            transform: rotate(180deg);
        }

        100% {
            left: 33%;
            top: 42%;
            transform: rotate(10deg);
        }
    }

    @keyframes throw5 {
        0% {
            top: 83%;
            transform: rotate(-180deg);
        }

        100% {
            left: 44%;
            top: 19%;
            transform: rotate(15deg);
        }
    }

}

