.person {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 6px solid white;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

}

.mask {
    mask-image: url("../../media/images/circle.svg");
    mask-size: 100% 100%;
    mask-position: bottom;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.person:hover .preview-description {
    height: 50%;
}

.preview-clicked {
    height: 50%;
}

.description-name {
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
}

.preview-description {
    height: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.862);
    /* border-radius: 0 0 250px 250px; */
    display: flex;
    transition: all 0.5s ease-out;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.person:has( [src='../../media/images/people/lea+karan.png']) .description-name {
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {

    .person {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border: 6px solid white;
        flex-shrink: 0;
    }

    .description-name {
        font-size: 1.5rem !important;
    }
}