.menu-container {
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -20rem;
    /* background-color: rgba(0, 0, 0, 0.387); */
    z-index: 7;
}

.menu {
    background-color: #ffffff;
    width: 15rem;
    height: 100%;
    padding-top: 6rem;
    
    /* border-left: solid #eaeaea; */

    box-shadow: -4px 10px 67px -5px rgba(0,0,0,0.22);
    -webkit-box-shadow: -4px 10px 67px -5px rgba(0,0,0,0.22);
    -moz-box-shadow: -4px 10px 67px -5px rgba(0,0,0,0.22);
}

.open {
    animation: openAni 0.7s ease-out forwards;
}

.close {
    animation: closeAni 0.7s ease-out forwards;
}

.menu-item-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
}

.menu-item-header {
    font-size: 1.5rem;
}

.menu-item {
    display: flex;
    width: 100%;
    height: 6rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    /* border-top: solid #c0c0c0; */
    border-bottom: solid #c0c0c0;
    cursor: pointer;
}

.disabled-item {
    opacity: 0.4;
}


@keyframes closeAni {
    0% {
        right: 0;
    } 100% {
        right: -20rem;
    }
}

@keyframes openAni {
    0% {
        right: -20rem;
    }
    100% {
        right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .menu-container {
        width: 35rem;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -45rem;
        /* background-color: rgba(0, 0, 0, 0.387); */
        z-index: 7;
    }
    
    .menu {
        background-color: #ffffff;
        width: 35rem;
        height: 100%;
        
        /* border-left: solid #eaeaea; */
    
        box-shadow: -4px 10px 67px -5px rgba(0,0,0,0.22);
        -webkit-box-shadow: -4px 10px 67px -5px rgba(0,0,0,0.22);
        -moz-box-shadow: -4px 10px 67px -5px rgba(0,0,0,0.22);
    }
    
    .open {
        animation: openAni 0.7s ease-out forwards;
    }
    
    .close {
        animation: closeAni 0.7s ease-out forwards;
    }
    
    .menu-item-icon {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1.5rem;
    }
    
    .menu-item-header {
        font-size: 2rem;
    }
    
    .menu-item {
        display: flex;
        width: 100%;
        height: 6rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        /* border-top: solid #c0c0c0; */
        border-bottom: solid #c0c0c0;
        cursor: pointer;
    }
    
    .disabled-item {
        opacity: 0.4;
    }
    
    .disclaimer {
        font-size: 2rem;
        height: 10rem;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 2rem ;
    }
    
    @keyframes closeAni {
        0% {
            right: 0;
        } 100% {
            right: -45rem;
        }
    }
    
    @keyframes openAni {
        0% {
            right: -45rem;
        }
        100% {
            right: 0;
        }
    }
}
