.people-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    overflow-x: auto;
    height: -moz-fit-content;
    height: fit-content;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 0 2rem;
}

.header-people {
    width: 90%;
    margin: 0 2rem;
}

.person {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 6px solid white;
    flex-shrink: 0;
}

.arrow {
    width: 2rem;
}

.see-more {
    position: absolute;
    display: flex;
    width: 7rem;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    cursor: pointer;
    left: 1rem;
    top: 8rem;
}

.people-container::-webkit-scrollbar {
    height: 5px;
    /* background-color: white; */
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(151, 151, 151);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #defb82;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #366ceb;
}

@media only screen and (min-width: 768px) {
    .people-container {
        display: flex;
        width: 85%;
        align-items: center;
        justify-content: space-between;
        margin-left: 10%;
        overflow-x: auto;
        height: -moz-fit-content;
        height: fit-content;
        flex-wrap: nowrap;
        gap: 4rem;
        padding: 2rem 0;
    }

    .person {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border: 6px solid white;
        flex-shrink: 0;
    }

    .people-container::-webkit-scrollbar {
        height: 10px;
        /* background-color: white; */
    }

    .header-people {
        width: 90%;
        margin: 0;
    }

    .see-more {
        position: absolute;
        display: flex;
        width: 12rem;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        cursor: pointer;
        left: 5rem;
        top: 30rem;
    }

    .arrow {
        width: 3rem;
    }

    .see-text {
        font-size: 2rem;
    }

}