.calendar-icon {
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-image: url("../../media/images/calendar.png");
    cursor: pointer;
    margin: 2rem 0;
}

.waze-icon {
    width: 4rem;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .calendar-icon {
        width: 8rem;
        height: 8rem;
        border: none;
        background-color: transparent;
        background-size: cover;
        background-image: url("../../media/images/calendar.png");
        cursor: pointer;
    }

    .waze-icon {
        width: 8rem;
        cursor: pointer;
    }
}