#submitBtn {
    background-color: #DEFB82;
    color: rgb(2, 2, 2);
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: assistant;
    padding: 0.5rem 1rem;
    height: fit-content;
    box-shadow: none;
    margin: 1rem 0 2rem 0;
}


:where(.css-dev-only-do-not-override-nnuwmp).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    font-size: 2rem;
}

#submitBtn:hover {
    background-color: #cce676;
}

.form-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    align-content: center
}

.inputs-container {
    width: 90vw;
    height: fit-content;
}

.form-input {
    border: solid 1px black;
    height: 4rem;
    border-radius: 50px 50px 0 50px;
    font-size: 1.2rem;
    font-family: assistant;
}

.form-item {
    font-size: 4rem;
    font-family: assistant;
}

.radio-btn {
    font-size: 1.2rem !important;
    font-family: assistant;
    text-align: right !important;
}

.radio-container {
    display: flex;
    align-items: flex-start !important;
    width: 100% !important;
    padding-right: 2rem;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-radio-group {
     display: block;
}

.registration-text {
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    #submitBtn {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .registration-text {
        font-size: 1.7rem;
        margin: 0 0 1rem 0;
    }
    
    .inputs-container {
        width: 30vw;
    }
    
    .form-input {
        font-size: 1.5rem;
    }

    .radio-btn {
        font-size: 1.5rem !important;
    }

}

